
@{
    ViewBag.Title = "Index";
}

<!doctype html>

<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Diablo 3 Damage Model</title>
    
</head>
<body ng-controller="MainController">

    <small>{{ battle.status }}<br/></small>
    <br/>
    <small><em>{{p1Name}}</em></small>
    <progressbar max="p1MaxLife" value="p1Life" type="danger" animate="false">Life</progressbar>
    <progressbar max="p1MaxMeter" value="p1Meter" type="info" animate="false">Wrath</progressbar>
    <small>{{ p1Status }}</small><br />
    <br/>
    <small><em>{{p2Name}}</em></small>
    <progressbar max="p2MaxLife" value="p2Life" type="danger" animate="false">Life</progressbar>
    <progressbar max="p2MaxMeter" value="p2Meter" type="info" animate="false">Wrath</progressbar>
    <small>{{ p2Status }}</small><br />
</body>
</html>

@section scripts
{
    <script src="~/Scripts/model/healer.js"></script>
    <script src="~/Scripts/model/mitigator.js"></script>
    <script src="~/Scripts/model/attack.js"></script>
    <script src="~/Scripts/model/player.js"></script>
    <script src="~/Scripts/model/battle.js"></script>
    <script src="~/Scripts/viewmodels/lootViewModel.js"></script>
    <script src="~/Scripts/controllers/mainController.js"></script>
}

